<header class="flex justify-between p-3 bg-white dark:bg-gray-900">
  <div class="text-lg dark:text-white text-gray-400 min-h-50 flex items-center">
    NIKMAXOTT LOGO
  </div>
  <nav>
    <ul class="flex mr-4">
      <li class="m-2 dark:text-white text-gray-900">
        <a href="#about">About</a>
      </li>
      <li class="m-2 dark:text-white text-gray-900">
        <a href="#projects">Projects</a>
      </li>
      <li class="m-2 dark:text-white text-gray-900">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<section
  class="m-4 p-4 border rounded border-gray-700 dark:border-gray-200 h-full min-h-min"
>
  <router-outlet></router-outlet>
</section>
